<h3 class="mb-4">Step two</h3>

<form [formGroup]="form">
  <label class="form-label" for="address">Address</label>
  <input class="form-control mb-3" id="address" type="text" formControlName="address" placeholder="Address">

  <label class="form-label" for="city">City</label>
  <input class="form-control mb-3" id="city" type="text" formControlName="city" placeholder="City">

  <label class="form-label" for="state">State</label>
  <input class="form-control mb-3" id="state" type="text" formControlName="state" placeholder="State">

  <label class="form-label" for="zip">Zip</label>
  <input class="form-control mb-3" id="zip" type="text" formControlName="zip" placeholder="Zip">

</form>

